.resumePopup {
  .swiperList {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 520;
    max-width: 923px;

    .swipertype {
      text-align: left;
      width: 240px;
      position: relative;
      .common {
        color: #42334d;
        font-family: PingFangSC-Medium;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        font-weight: 500;
        display: inline-block;
        position: relative;
        cursor: pointer;
      }

      .isCheck {
        width: 120px;
        height: 40px;
        background: rgba(255, 220, 41, 1);
        border-radius: 10px 10px 0px 0px;
        font-size: 16px;
        color: rgba(66, 51, 77, 1);
        bottom: 0px;
      }

      .noCheck {
        background: rgba(251, 251, 255, 1);
        width: 102px;
        height: 34px;
        border-radius: 10px 10px 0px 0px;
        color: rgba(146, 146, 146, 1);
        font-size: 14px;
        bottom: -6px;
      }
    }

    .nowResume {
      background: #fff;
      width: 940px;
      height: 786px;
      border: 1px solid #42334d;
      position: relative;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .Numbering {
        padding: 36px 50px 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: #929292;
          font-size: 14px;
        }
      }
      .resumeLyout {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .Code {
          width: 180px;
          border-left: 1px solid #ededed;
          display: inline-block;
          .msgCode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 120px;
              height: 120px;
              border-radius: 50%;
            }

            span {
              font-size: 12px;
              color: #42334d;
              margin-top: 10px;
              width: 72px;
              height: 26px;
              background: rgba(237, 237, 237, 1);
              line-height: 26px;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 7px solid #ededed;
                left: 31px;
                top: -6px;
              }
            }
          }
          .TabSelect {
            margin-top: 20px;
            .tabList {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-left: 23px;
              flex-direction: column;
              .tabItem {
                padding: 5px 10px;
                border: 1px solid #929292;
                border-radius: 4px;
                display: inline-block;
                margin-bottom: 8px;
                span {
                  font-size: 14px;
                  color: #000;
                }
                i {
                  margin-left: 5px;
                  cursor: pointer;
                }
              }
            }
            .addTab {
              text-align: left;
              margin-left: 23px;
              font-size: 14px;
              color: #2878ff;
              margin-bottom: 10px;
              font-weight: 700;
              cursor: pointer;
            }
          }
          .ContactInformation {
            margin-top: 52px;
            .contactTitle {
              text-align: left;
              margin-left: 23px;
              font-size: 14px;
              color: #42334d;
              margin-bottom: 10px;
              font-weight: 700;
            }
            .noUpload {
              text-align: left;
              margin-left: 20px;
              font-size: 13px;
              color: #929292;
            }
            .Contact {
              color: #652791;
              width: 120px;
              height: 36px;
              border-radius: 4px;
              border: 1px solid rgba(101, 39, 145, 1);
              text-align: center;
              line-height: 36px;
              position: relative;
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              span {
                &:nth-child(2) {
                  position: absolute;
                  width: 100px;
                  padding: 5px 10px;
                  height: 30px;
                  background: #ffffff;
                  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
                  right: -11px;
                  display: block;
                  top: -33px;
                  border-radius: 10px;

                  &:before {
                    content: "";
                    position: absolute;
                    bottom: -7px;
                    left: 43px;
                    width: 0;
                    display: block;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid #fff;
                  }
                }
              }
              i {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 14px;
                color: red;
              }
            }
          }
          .download {
            margin-top: 30px;

            .noUpload {
              text-align: left;
              margin-left: 20px;
              font-size: 13px;
              color: #929292;
            }
            .contactTitle {
              text-align: left;
              margin-left: 23px;
              font-size: 14px;
              font-weight: 700;
              color: #42334d;
              margin-bottom: 10px;
            }
            .Contact {
              width: 120px;
              height: 36px;
              border-radius: 4px;
              border: 1px solid rgba(101, 39, 145, 1);
              font-size: 14px;
              color: #652791;
              line-height: 36px;
              margin: 0 auto;
              cursor: pointer;
              position: relative;
              i {
                position: absolute;
                right: 7px;
                top: 11px;
                font-size: 14px;
                color: red;
                display: inline-block;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover {
                  transform: scale(1.6);
                }
              }
              span {
                color: rgba(101, 39, 145, 1);
                font-size: 14px;
              }
            }
          }
        }
        .ResumeDetails {
          width: 742px;
          height: 689px;
          overflow-y: scroll;
          display: inline-block;
          &::-webkit-scrollbar {
            display: none;
          }
          .base {
            padding-bottom: 20px;
            padding-left: 50px;
            .message {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              .msgUrl {
                width: 88px;
                height: 88px;
                position: relative;
                .gender2 {
                  width: 26px;
                  height: 26px;
                  background: #ff6796;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                  position: absolute;
                  right: -6px;
                  bottom: -9px;
                  text-align: center;
                  i {
                    line-height: 26px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                  }
                }
                .gender {
                  width: 26px;
                  height: 26px;
                  background: #2878ff;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                  position: absolute;
                  right: -6px;
                  bottom: -9px;
                  text-align: center;
                  i {
                    line-height: 26px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                  }
                }
                img {
                  width: 88px;
                  height: 88px;
                  border: 2px solid rgba(232, 233, 235, 1);
                  border-radius: 50%;
                  vertical-align: middle;
                }
              }

              .msgUserInfo {
                text-align: left;
                vertical-align: top;
                height: 100%;
                margin-left: 30px;
                flex: 1;
                padding-right: 28px;
                .basemsg {
                  display: flex;
                  justify-content: space-between;
                  align-items: baseline;
                  .realName {
                    font-size: 22px;
                    font-weight: 700;
                    color: #42334d;
                    width: 153px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                  }
                  .lebalList {
                    display: inline-block;
                    margin-left: 20px;
                    overflow: hidden;
                    text-align: right;
                    height: 19px;
                    .lebalItem {
                      display: inline-block;
                      margin-left: 24px;
                      height: 23px;
                      overflow: 19px;
                      &:nth-child(1) {
                        span {
                          font-weight: 300;
                        }
                      }
                      &:nth-child(2) {
                        span {
                          font-weight: 300;
                        }
                      }
                      &:nth-child(3) {
                        span {
                          font-weight: 300;
                        }
                      }
                      &:nth-child(4) {
                        height: 0px;
                        margin-right: 0px;
                      }
                      i {
                        margin-right: 7px;
                        color: #cdcbcf;
                      }
                      span {
                        font-size: 14px;
                      }
                    }
                  }
                }

                .status {
                  padding: 5px 9px 5px 10px;
                  background: #efe9f4;
                  color: #652791;
                  vertical-align: middle;
                  box-sizing: border-box;
                  font-size: 14px;
                  line-height: 14px;
                  height: 23px;
                }

                .nowWorking {
                  margin-top: 10px;
                  font-size: 15px;
                  color: #000;

                  span {
                    padding-left: 10px;
                    display: inline-block;
                  }
                }

                .education {
                  margin-top: 10px;
                  font-size: 15px;
                  color: #000;
                  span {
                    padding-left: 10px;
                    display: inline-block;
                  }
                }
              }
            }

            .description {
              margin-top: 20px;
              text-align: left;
              color: #929292;
              font-size: 13px;
              .msg {
                span {
                  font-size: 13px;
                  color: rgba(146, 146, 146, 1);
                }
                i {
                  font-weight: 600;
                  font-size: 15px;
                  color: #000;
                }
              }

              .iconList {
                margin-top: 20px;
                display: flex;
                justify-items: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                .iconItem {
                  border: 1px solid rgba(230, 226, 237, 1);
                  background: #fff;
                  border-radius: 30px;
                  margin-right: 6px;
                  vertical-align: middle;
                  color: #652791;
                  margin-bottom: 8px;
                  font-weight: 300;
                  height: 22px;
                  padding: 1px 12px;
                  text-align: center;
                  line-height: 20px;
                  font-size: 12px;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }

      .intention {
        text-align: left;
        padding-top: 28px;
        padding-bottom: 48px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-left: 82px;
        .title {
          font-size: 14px;
          font-family: PingFangSC-Medium;
          font-weight: 700;
          color: #42334d;
          display: inline-block;
        }
        .intentList {
          display: inline-block;
          margin-left: 30px;
          .intentionItem {
            width: 100%;
            text-align: left;
            padding-bottom: 20px;
            .position {
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: rgba(92, 86, 93, 1);
              margin-right: 10px;
            }
            .fields {
              display: inline-block;
              span {
                font-size: 14px;
                color: #5c565d;
              }
              // margin-right: 20px;
            }
            .price {
              font-size: 14px;
              color: #ff7f4c;
              font-weight: 700;
              margin-left: 30px;
            }
          }
        }
      }

      .workExperience {
        margin-left: 82px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: 28px;
        .title {
          font-size: 14px;
          font-weight: 700;
          color: #42334d;
          text-align: left;
        }
        .workList {
          width: 572px;
          margin-left: 30px;
          pre {
            text-align: left;
            white-space: pre-wrap;
            font-size: 13px;
            color: #929292;
          }
          .imgList {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            img {
              width: 86px;
              height: 86px;
              margin-right: 6px;
              margin-bottom: 6px;
              &:nth-child(6n + 6) {
                margin-right: 0px;
              }
            }
          }
          .workItem {
            margin-bottom: 28px;
            .workTime {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 15px 10px 0px;
              width: 545px;
              span {
                font-size: 14px;
                color: #929292;
                &:nth-child(1) {
                  color: #5c565d;
                }
              }
            }
            .workIconList {
              text-align: left;
              margin-top: 12px;
              span {
                display: inline-block;
                background: rgba(239, 233, 244, 1);
                padding: 2px 8px;
                text-align: center;
                color: #652791;
                font-size: 12px;
                margin-right: 10px;
                border-radius: 5px;
                font-weight: 300;
              }
            }
            .workContent {
              text-align: left;
              .name {
                margin-left: 0px;
                // margin-top: 0px;
                font-size: 15px;
                color: #000;
              }
              .duties {
                text-align: left;
                font-size: 13px;
                color: #929292;
                pre {
                  font-size: 13px;
                  color: #929292;
                  font-family: PingFangSC-Regular;
                  width: 545px;
                  white-space: pre-wrap;
                  margin: 0px;
                }
              }
            }
          }
        }
      }

      .historyList {
        padding: 20px;
        padding-left: 50px;
        height: 650px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        span {
          display: block;
          text-align: left;
          margin-bottom: 20px;
          font-size: 14px;
          color: #5c565d;
          // font-weight: 700;
          line-height: 20px;
          i {
            margin-left: 34px;
          }
        }
      }
    }
  }
}
.Mark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
  cursor: pointer;
}
// 简历轮播显示
.left {
  left: 0px;
  top: 50%;
  text-align: center;
  i {
    color: #fff;
    font-size: 41px;
    line-height: 68px;
  }
}
.right {
  right: 0px;
  top: 50%;
  i {
    color: #fff;
    font-size: 41px;
    line-height: 68px;
  }
}
.comstyle {
  width: 68px;
  height: 68px;
  background: rgba(255, 255, 255, 0.27);
  position: absolute;
  z-index: 1001;
  cursor: pointer;
}

